.media__list {
	margin: 0 -5px 30px;
	font-size: 0;
}

.media__item {
	@include inlineblock(top);
	width: 320px;
	font-size: 12px;
}

.media__item--blue {
	width: 250px;
}

.media__block {
	padding: 0 5px;
}

.media__title {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background: #a7b2bb;
    @include border-radius(3px 3px 0 0);
    font-family: "HelveticaNeue-CondensedBold";
}

.media__title--blue {
	background: #3d519b;
}

.media__content {
	position: relative;
	padding: 29px 12px 10px;
	min-height: 540px;
	border: 1px solid #dfe0e0;
}

.preview__item {
	margin-bottom: 30px;
	@extend %clearfix;

	&:last-child {
		margin-bottom: 0;
	    padding-bottom: 10px;
		// border-bottom: 1px solid #dfe0e0;
	}
}

.preview__pic {
	float: left;
	height: 67px;
	width: 102px;
}

.preview__pic-img {
	display: block;
	max-width: 100%
}

.preview__content {
	float: right;
	width: 164px;
}

.preview__link {
	display: block;
	margin: 0 0 4px 0;
	color: #000;
	font-weight: bold;
}

.preview__block {
	@extend %clearfix;
}

.preview__block--all {
	padding-left: 55px;
}

.preview__date {
	float: left;
	width: 70px;
	font-size: 13px;
    color: #cac9c9;
}

.preview__view {
	position: relative;
	float: left;
	width: 40px;
	margin: 0 0 0 20px;
	font-size: 11px;
	font-family: "Arial";

	&:before {
		content:"";
		position: absolute;
		top: 2px;
		left: -16px;
		height: 10px;
		width: 12px;
		background: url(../img/decor/view.png) no-repeat;
	}

	&:after {
		content:"";
		position: absolute;
		top: 2px;
		left: -20px;
		height: 10px;
		width: 12px;
		background: url(../img/decor/view-line.png) no-repeat;
	}
}

.media__btn {
	position: absolute;
	border-top: 1px solid #dfe0e0;
    position: absolute;
    bottom: 10px;
    width: 90%;
	@extend %clearfix;
}

.media__link {
	display: inline-block;
	margin: 8px 0 0 0;
	float: right;
	text-transform: uppercase;
	color: $red;
	font-size: 10px;
	font-weight: bold;

	&:hover {
		color: #131313;
		text-decoration: none;
	}
}

.video__item {
	margin: 0 0 25px 0;

	&:last-child {
		margin-bottom: 0;
	}
}

.video {
	height: 126px;
	width: 188px;
	margin: 0 auto;
	background: #ccc;
}

.video__link {
	display: block;
	margin: 8px auto;
	padding: 0 4px;
	width: 188px;
	font-weight: bold;
	color: #000;
}