.survey {
	margin-bottom: 40px;
	padding: 24px 10px;
	width: 253px;
	border: 1px solid $grey;
}

.survey__title {
	position: relative;
	margin: 0 0 20px 34px;

	&:before {
		content: "";
		position: absolute;
		top: 0px;
		left: -30px;
		height: 30px;
		width: 24px;
		background: url(../img/event/icon-ruport.png)no-repeat;
	}
}

.survey__form {
	margin: 0 auto;
	width: 160px;
}

.survey__form-title {
	margin: 0 0 16px 0;
	font-size: 12px;
}

.survey__checkbox {
	margin-bottom: 20px;
}

.checkbox__text--survey {
	margin-left: 12px;
}

.survey__desc {
	margin-bottom: 25px;
}

.survey__btn {
	padding: 10px;
	width: 100%;
	border: none;
	font-size: 17px;
	color: #fff;
	background: $grey;
	@include transition(.3s);

	&:hover {
		background: #b6bcc1;
	}

	&:active {
		background: #848c92;
	}
}