/* -------------- common colors -------------- */

// $black: #333333;

$blue: #2e3f7f;
$red: #c33362;
$grey: #9da7af;

/* --------- compass --------- */

@import "compass";

/* --------- normalize --------- */

@import "_misc/normalize";

/* -------- fonts ---------*/

@import "_misc/_fonts";

/* --------- mixins --------- */

@import "_misc/mixins";

/* --------- adjustment --------- */

@import "_misc/adjustment";

/* --------- plugins --------- */

@import "plugins/font-awesome";


/* --------- sections --------- */

@import "_sections/_header";
@import "_sections/_breadcrumbs";
@import "_sections/_search-filter-btn";
@import "_sections/_pagination";
@import "_sections/_materials";
@import "_sections/_search";
@import "_sections/_sidebar";
@import "_sections/_post";
@import "_sections/_ward";
@import "_sections/_media";
@import "_sections/_news";
@import "_sections/_projects";
@import "_sections/_gallery";
@import "_sections/_event";
@import "_sections/_learning";
@import "_sections/_meet";
@import "_sections/_ad";
@import "_sections/_print";
@import "_sections/_survey";
@import "_sections/_footer";



