extends ../main

block title
    | Поиск

block main
    include ../_common/_header-nav
    include ../_common/_breadcrumbs
    include ../_common/_article
    include ../_common/_news
    include ../_common/_ad