extends ../main

block title
    | Главная страница

block main
    include ../_common/_ward
    include ../_common/_media
    include ../_common/_news
    include ../_common/_projects
    include ../_common/_gallery
    include ../_common/_event
    include ../_common/_learning
    include ../_common/_meet
    include ../_common/_offer
    include ../_common/_ad
