.ad--sidebar
    ul.ad__list.ad__list--sidebar
        li.ad__item
            a(href="#").ad__link
                .ad__img
                    img(src="./img/sidebar/baner-sb1.png").ad__pic
        li.ad__item
            a(href="#").ad__link
                .ad__img
                    img(src="./img/sidebar/baner-sb2.png").ad__pic
        li.ad__item
            a(href="#").ad__link
                .ad__img
                    img(src="./img/sidebar/baner-sb3.png").ad__pic
        li.ad__item
            a(href="#").ad__link
                .ad__img
                    img(src="./img/sidebar/baner-sb1.png").ad__pic
        li.ad__item
            a(href="#").ad__link
                .ad__img
                    img(src="./img/sidebar/baner-sb2.png").ad__pic
        li.ad__item
            a(href="#").ad__link
                .ad__img
                    img(src="./img/sidebar/baner-sb3.png").ad__pic