.ad
	ul.ad__list
		li.ad__item
			a(href="#").ad__link
				.ad__img
					img(src="/img/ban/ban-1.png").ad__pic
		li.ad__item
			a(href="#").ad__link
				.ad__img
					img(src="/img/ban/ban-2.png").ad__pic
		li.ad__item
			a(href="#").ad__link
				.ad__img
					img(src="/img/ban/ban-3.png").ad__pic
		li.ad__item
			a(href="#").ad__link
				.ad__img
					img(src="/img/ban/ban-5.png").ad__pic
		li.ad__item
			a(href="#").ad__link
				.ad__img
					img(src="/img/ban/ban-5.png").ad__pic
		li.ad__item
			a(href="#").ad__link
				.ad__img
					img(src="/img/ban/ban-6.png").ad__pic
		li.ad__item
			a(href="#").ad__link
				.ad__img
					img(src="/img/ban/ban-2.png").ad__pic
		li.ad__item
			a(href="#").ad__link
				.ad__img
					img(src="/img/ban/ban-1.png").ad__pic