.article
	a(href="#").article__title-link.main__title-link
	.article__title.title
		| Название Статьи
	.article__desc
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi animi voluptates cum adipisci soluta voluptate, facere pariatur. Ex modi sapiente omnis, sint veritatis repellendus. Itaque magnam sed numquam temporibus provident doloribus enim aliquid ullam! Tempore, ullam eligendi ratione excepturi ex amet numquam nobis esse debitis. Ab illum, vitae voluptas modi. Cupiditate beatae deserunt, corporis voluptatum tempore autem nisi harum. Quia est impedit distinctio rem nihil, deleniti optio quidem esse tempora nostrum similique aliquid laudantium eos delectus doloremque, enim incidunt ipsa, minus illo debitis nam magnam quas soluta vel. Officia laboriosam atque suscipit deleniti minus in quia ullam assumenda autem reprehenderit.
	.article__subtitle
		| Подзаголовок статьи
	.article__subtitle-desc
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi aliquam, aperiam explicabo voluptatibus accusamus repudiandae suscipit delectus earum consectetur eum laudantium quod cupiditate architecto ex beatae velit ratione? Officiis reprehenderit magnam quaerat eaque <a href="#">rem placeat doloremque</a> quibusdam quia voluptatum, recusandae aperiam suscipit enim voluptatibus natus, impedit fugit maxime soluta nam ipsa ea dolor nulla. Alias, recusandae, placeat nisi neque repudiandae molestiae animi. 

		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse aperiam natus necessitatibus soluta, est neque ad iusto suscipit facere dolorem:

		ul
			li Lorem ipsum dolor sit.
			li Lorem ipsum dolor sit amet.
			li Lorem ipsum dolor sit.
			li Lorem ipsum dolor sit amet, consectetur.

		b  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, commodi.

		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id sequi quas ipsa debitis asperiores cum aut maxime, itaque repellendus ullam.

		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa asperiores, voluptates similique aperiam magni necessitatibus ipsum, voluptate facilis vero, iste consequatur excepturi. Assumenda dignissimos nobis excepturi ea non placeat nulla eaque. Vero ipsam alias nulla ullam aliquid. Vitae atque quibusdam impedit, nihil, hic voluptatibus sunt aperiam, nesciunt quis praesentium laboriosam.

		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, hic ratione ullam numquam voluptas tempora nobis esse! Aliquam, accusantium sint eligendi sequi earum assumenda. Corporis eligendi necessitatibus quas doloremque facere.

		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, hic ratione ullam numquam voluptas tempora nobis esse! Aliquam, accusantium sint eligendi sequi earum assumenda. Corporis eligendi necessitatibus quas doloremque facere.
	include _preview-block
