.campaign
	a(href="#").campaign__title-link.main__title-link
	.campaign__title.title
		| Автомобильный завод "Урал"
	.campaign__content
		.campaign__logo
			img(src="./img/campaing-baner.jpg").campaign__logo-img
		ul.campaign__list
			li.campaign__item
				.campaign__left
					| Наименование:
				.campaign__right
					| Автомобильный завод "Урал"
			li.campaign__item
				.campaign__left
					| Орг.-прав. форма:
				.campaign__right
					| АО
			li.campaign__item
				.campaign__left
					| Руководитель:
				.campaign__right
					| Кадылкин Виктор Сергеевич, Генеральный деректор
			li.campaign__item
				.campaign__left
					| ИНН:
				.campaign__right
					| 4154567898
			li.campaign__item
				.campaign__left
					| Телефон:
				.campaign__right
					| (3513) 55-16-40, 55-49-83, 29-12-47
			li.campaign__item
				.campaign__left
					| Факс:
				.campaign__right
					| (3513) 55-16-43, 55-49-99
			li.campaign__item
				.campaign__left
					| Адрес:
				.campaign__right
					| 456304, РФ, Челябинская обл., г. Миасс, пр. Автозаводцев, д. 1 
			li.campaign__item
				.campaign__left
					| E-mail:
				.campaign__right
					| gdural@mail.uralaz.ru
			li.campaign__item
				.campaign__left
					| Веб-сайт:
				.campaign__right
					| www.gazgroup.ru
			li.campaign__item
				.campaign__left
					| ДЧП:
				.campaign__right
					| Действительный член Южно-Уральской торгово-промышленной палаты с 01.01.1980
		ul.campaign-desc__list
			li.campaign-desc__item
				.campaign__left
					| Сфера деятельности:
				.campaign__right
					ul.campaign-activity__list
						li.campaign-activity__item
							span 15 Производство сои
							ul.campaign-subactivity__list
								li.campaign-subactivity__item
									span 15.1 Производство специй
								li.campaign-subactivity__item
									span 15.4 Производство растительных и животных масел и жиров
								li.campaign-subactivity__item
									span 15.1 Производство молочных продуктов

						
			li.campaign-desc__item
				.campaign__left
					| Товары:
				.campaign__right
					ul.campaign-product__list
						li.campaign-product__item
							span вахтовые автобусы "Урал-3255"
						li.campaign-product__item
							span грузовые автомобили "Урал"
						li.campaign-product__item
							span запасные части к ним
						li.campaign-product__item
							span шнекороторный снегоочиститель "Урал-432069"
