.certification
	.certification__title.title
		| Сертификация услуг гостиниц и средств размещения
	ul.certification__list
		li.certification__item
			a(href="#").certification__link
				| Название подраздела 1
			div(style="background-image: url(./img/foto-certification.jpg)").certification__pic
				img(src="./img/foto-certification.jpg").certification__pic-fake
		li.certification__item
			a(href="#").certification__link
				| Название подраздела 2
			.certification__desc
				p Описание подраздела 2  - связующим звеном между бизнесом и власти выступает Южно-Уральская торгово-промышленная палата
		li.certification__item
			a(href="#").certification__link
				| Связующим звеном между бизнесом и власти
			div(style="background-image: url(./img/foto-certification_2.jpg)").certification__pic
				img(src="./img/foto-certification_2.jpg").certification__pic-fake
		li.certification__item
			a(href="#").certification__link
				| Объединением предпринимателей в Челябинской области
			.certification__desc
				p Описание подраздела 1  - связующим звеном между бизнесом и власти выступает Южно-Уральская торгово-промышленная палата
		li.certification__item
			a(href="#").certification__link
				| Связующим звеном между бизнесом и власти
			div(style="background-image: url(./img/foto-certification_2.jpg)").certification__pic
				img(src="./img/foto-certification_2.jpg").certification__pic-fake
		li.certification__item
			a(href="#").certification__link
				| Название подраздела 1
			div(style="background-image: url(./img/foto-certification.jpg)").certification__pic
				img(src="./img/foto-certification.jpg").certification__pic-fake
		li.certification__item
			a(href="#").certification__link
				| Связующим звеном между бизнесом и власти
			div(style="background-image: url(./img/foto-certification_2.jpg)").certification__pic
				img(src="./img/foto-certification_2.jpg").certification__pic-fake
		li.certification__item
			a(href="#").certification__link
				| Название подраздела 1
			div(style="background-image: url(./img/foto-certification.jpg)").certification__pic
				img(src="./img/foto-certification.jpg").certification__pic-fake
		li.certification__item
			a(href="#").certification__link
				| Объединением предпринимателей в Челябинской области
			.certification__desc
				p Описание подраздела 1  - связующим звеном между бизнесом и власти выступает Южно-Уральская торгово-промышленная палата
		li.certification__item
			a(href="#").certification__link
				| Название подраздела 1
			div(style="background-image: url(./img/foto-certification.jpg)").certification__pic
				img(src="./img/foto-certification.jpg").certification__pic-fake
		li.certification__item
			a(href="#").certification__link
				| Название подраздела 2
			.certification__desc
				p Описание подраздела 2  - связующим звеном между бизнесом и власти выступает Южно-Уральская торгово-промышленная палата
		li.certification__item
			a(href="#").certification__link
				| Связующим звеном между бизнесом и власти
			div(style="background-image: url(./img/foto-certification_2.jpg)").certification__pic
				img(src="./img/foto-certification_2.jpg").certification__pic-fake
		li.certification__item
			a(href="#").certification__link
				| Объединением предпринимателей в Челябинской области
			.certification__desc
				p Описание подраздела 1  - связующим звеном между бизнесом и власти выступает Южно-Уральская торгово-промышленная палата
		li.certification__item
			a(href="#").certification__link
				| Связующим звеном между бизнесом и власти
			div(style="background-image: url(./img/foto-certification_2.jpg)").certification__pic
				img(src="./img/foto-certification_2.jpg").certification__pic-fake
		li.certification__item
			a(href="#").certification__link
				| Название подраздела 1
			div(style="background-image: url(./img/foto-certification.jpg)").certification__pic
				img(src="./img/foto-certification.jpg").certification__pic-fake
		li.certification__item
			a(href="#").certification__link
				| Связующим звеном между бизнесом и власти
			div(style="background-image: url(./img/foto-certification_2.jpg)").certification__pic
				img(src="./img/foto-certification_2.jpg").certification__pic-fake