.event
	.event__main-title.title
		| Мероприятия ВЭД
	ul.event__list
		li.event__item
			.event__block
				a(href="#").event__title-link.event__title-link--blue
					| План мероприятий
				.event__content
					a(href="#").event__link
						| Презентация Вашей компании в Челябинске
					.event__date
						| 30.12.25015
					.event__pic
						img(src="./img/foto-7.jpg").event__pic-img
		li.event__item
			.event__block
				a(href="#").event__title-link.event__title-link--red
					| Анонс мероприятий
				.event__content
					ul.event-preview__list
						li.event-preview__item
							a(href="#").event__link
								| Презентация Вашей компании в Челябинске
							.event__date.event__date--red
								| 30.12.25015
						li.event-preview__item
							a(href="#").event__link
								| Презентация Вашей компании в Челябинске
							.event__date.event__date--red
								| 30.12.25015
						li.event-preview__item
							a(href="#").event__link
								| Презентация Вашей компании в Челябинске
							.event__date.event__date--red
								| 30.12.25015
		li.event__item
			.event__block
				a(href="#").event__title-link.event__title-link--grey
					| Отчеты
				.event__content
					a(href="#").event__link
						| Один материал (последняя статья)
					.event__date
						| 30.12.25015
					.event__pic
						img(src="./img/foto-8.jpg").event__pic-img


