.feedback
	.feedback__title.title
		| Обратная связь
	.feedback__desc
		p Описание как правильно заполнить форму или другой текст. Международный промышленный форум, "Реконструкция промышленных предприятий

	form.feedback__form
		.feedback__wrapp
			.feedback__label-block.form__label
				label(for="message").feedback__label
					span.feedback__label-text Сообщение получит
				label(for="name" ).feedback__label
					span.feedback__label-text.feedback__label-text--required Ваше имя и фамилия
				label(for="email" ).feedback__label
					span.feedback__label-text Электронный ящик
				label(for="phone" ).feedback__label
					span.feedback__label-text.feedback__label-text--required Телефон/факс
				label(for="text" ).feedback__label
					span.feedback__label-text.feedback__label-text--required Текст сообщения
			.feedback__input-block.form__input
				select(id="message" type="text" placeholder="").feedback__input.feedback__input--gradient
					option Морозова Елена Юрьевна
				input(id="name" type="text" placeholder="").feedback__input
				input(id="email" type="text" placeholder="").feedback__input
				input(id="phone" type="text" placeholder="").feedback__input
				textarea(id="text" type="text" placeholder="").feedback__textarea
		.feedback__btns
			input(value="Отправить сообщение" type="submit").feedback__btn.form__btn
