footer.footer
    .container.container--footer
        .footer_block.footer__left
            a(href="#").logo--footer
                img(src="./img/logo-footer.png").logo-img--footer
                span.logo-text
                    | Южно-Уральская торгово-промышленная палата
            .company
                p
                    | © 1992-2014 Южно-Уральская торгово-промышленная палата
                p
                    | 454080, РФ, г. Челябинск, ул. Сони Кривой, д. 56
                a(href="#").map.footer-link
                    | карта местоположения
        .footer_block.footer__right
            .footer__right-first
                .footer__phone
                    p 
                        | телефон: +7 (351) 266-1816
                    p
                        | факс: +7 (351) 265-4132
                    p
                        | email: mail@tpp74.ru
                .footer__advertising
                    a(href="#").advertising-saits.footer-link
                        | Реклама на сайте
                    a(href="#").advertising-map.footer-link
                        | Карта сайта
            .footer__right-second
                .footer__counter
                    img(src="./img/counter.png").counter-img
                .footer__development
                    a(href="#").development-link.footer-link
                        | Разработка: Информационный центр ЮУТПП
                    a(href="#").development-link.footer-link
                        | Дизайн: "Студия Сайтс"