.gallery
	ul.gallery-tabs__list
		li.gallery-tabs__item
			a(href="#").gallery-tabs__link
				| Фотогалерея
		li.gallery-tabs__item
			a(href="#").gallery-tabs__link.gallery-tabs__link--grey
				| Видеогалерея
	.gallery__block
		ul.gallery__list
			li.gallery__item
				a(href="#").gallery__link
					.gallery__pic
						img(src="./img/foto-6.jpg").gallery__pic-img
					.gallery__desc
						| Члены ТПП,  Преимущества
			li.gallery__item
				a(href="#").gallery__link
					.gallery__pic
						img(src="./img/foto-6.jpg").gallery__pic-img
					.gallery__desc
						| Члены ТПП,  Преимущества
			li.gallery__item
				a(href="#").gallery__link
					.gallery__pic
						img(src="./img/foto-6.jpg").gallery__pic-img
					.gallery__desc
						| Члены ТПП,  Преимущества
			li.gallery__item
				a(href="#").gallery__link
					.gallery__pic
						img(src="./img/foto-6.jpg").gallery__pic-img
					.gallery__desc
						| Члены ТПП,  Преимущества
		.gallery__btn
			a(href="#").gallery__go-link
				| Перейти в галерею




