header.header
    .container.container--main
        .header__left
            a.header__map
                img(href="#" src="./img/map.png").map-img
        .header__right
            .header__top
                .header__top-left
                    .header__title
                        .header__title-left
                            .header__title-top
                                | Южно-Уральская торгово-промышленная палата           
                            .header__title-bottom
                                | The South Urals Chamber of Commerce and Industry
                        .header__title-right
                            .header__title-top
                                | Челябинская область           
                            .header__title-bottom
                                | Russia, Chelybinsk Region 
                    nav.header__nav
                        .header-search
                            form.header-search__form
                                input(name="" type="text" placeholder="Поиск по сайту").header-search__input
                                a(href="#").header-search__link
                        .socials
                            ul.socials__list
                                li.socials__item
                                    a(href="#" title="Вконтакте").socials__link.socials__link--vk
                                        | 
                                li.socials__item
                                    a(href="#" title="Facebook").socials__link.socials__link--fb
                                        | 
                                li.socials__item
                                    a(href="#" title="Twitter").socials__link.socials__link--tw
                                        | 
                        .contacts
                            a(href="#").contacts__link
                                | Контакты
                        .languages
                            ul.languages__list
                                li.languages__item
                                    a(href="#" title="").languages__link.languages__link--ru
                                li.languages__item
                                    a(href="#" title="").languages__link.languages__link--en
                                li.languages__item
                                    a(href="#" title="").languages__link.languages__link--gr
                                li.languages__item
                                    a(href="#" title="").languages__link.languages__link--ch

                .header__top-right
                    a(href="index.html").logo
                        img(src="./img/logo.png").logo-img
                        span.logo-text
                            | Южно-Уральская торгово-промышленная палата

            .header__bottom
                ul.header-meet__list
                    li.header-meet__item
                        .header-meet__left
                            .header-meet__pic
                                img(href="#" src="./img/foto-4.jpg").header-meet__pic-img
                        .header-meet__right
                            .header-meet__date
                                | 12 Января 2016
                            .header-meet__desc
                                p
                                    | Всероссийский конгресс «Промышленная экология регионов».
                            .header-meet__btns
                                a(href="#").header-meet__link
                                    | Деловые встречи
                    li.header-meet__item
                        .header-meet__left
                            .header-meet__pic
                                img(href="#" src="./img/foto-4.jpg").header-meet__pic-img
                        .header-meet__right
                            .header-meet__date
                                | 12 Января 2016
                            .header-meet__desc
                                p
                                    | Всероссийский конгресс «Промышленная экология регионов».
                            .header-meet__btns
                                a(href="#").header-meet__link
                                    | Деловые встречи