.header-nav
	ul.header-nav__list
		li.header-nav__item
			a(href="#").header-nav__link
				| О комитете
		li.header-nav__item
			a(href="#").header-nav__link
				| Анонсы и новости
		li.header-nav__item
			a(href="#").header-nav__link
				| Документы
		li.header-nav__item
			a(href="#").header-nav__link
				| Члены палаты, работающие в сфере транспорта и логистики 
		li.header-nav__item
			a(href="#").header-nav__link
				| Направления деятельности
			ul.header-dropdown__list
				li.header-dropdown__item
					a(href="#").header-dropdown__link
						| Автодорожный контроль и надзор
				li.header-dropdown__item
					a(href="#").header-dropdown__link
						| Автомобильный транспорт Железнод
				li.header-dropdown__item
					a(href="#").header-dropdown__link
						| Автодорожный контроль и надзор
				li.header-dropdown__item
					a(href="#").header-dropdown__link
						| Автомобильный транспорт Железнод
				li.header-dropdown__item
					a(href="#").header-dropdown__link
						| Автодорожный контроль и надзор
				li.header-dropdown__item
					a(href="#").header-dropdown__link
						| Автомобильный транспорт Железнод
				li.header-dropdown__item
					a(href="#").header-dropdown__link
						| Автодорожный контроль и надзор
				li.header-dropdown__item
					a(href="#").header-dropdown__link
						| Автомобильный транспорт Железнод
				li.header-dropdown__item
					a(href="#").header-dropdown__link
						| Автодорожный контроль и надзор
				li.header-dropdown__item
					a(href="#").header-dropdown__link
						| Автомобильный транспорт Железнод

