.learning
	.learning__title
		.learning__title-left.title
			| Обучение и образование
		.learning__title-right
			a(href="#").learning__title-link
				| Все образовательные программы
	ul.learning__list
		li.learning__item
			.learning__desc.learning__desc--border
				p 
					| Обучение по охране труда для проверки знаний руководителей и специалистов (40 часов).
				p 
					| 25-29 января
			.learning__date.learning__date--border
				span
					| 25.01.2016
				span
					| 25.01.2016
		li.learning__item
			.learning__desc
				p 
					| Обучение по охране труда для проверки знаний руководителей и специалистов (40 часов).
				p 
					| 25-29 января
			.learning__date
				span
					| 25.01.2016
				span
					| 25.01.2016
		li.learning__item
			.learning__desc
				p 
					| Обучение по охране труда для проверки знаний руководителей и специалистов (40 часов).
				p 
					| 25-29 января
			.learning__date
				span
					| 25.01.2016
				span
					| 25.01.2016
