.materials
	.materials__title
		| Материалы
	ul.materials__list
		li.materials__item
			a(href="#").materials__link
				.materials__pic
					img(src="./img/foto-10.jpg").materials__pic-img
				.materials__desc
					.materials__desc-title
						p Выставка "техника и технологии будущего!" 
					.materials__desc-text
						p Участники – лица, принимающие решения, ведущие технические специалисты, представители, надзорные органы и ведцщие НИИ.<span>г. Челябинск</span>
					include ../_common/_preview-block
		li.materials__item
			a(href="#").materials__link
				.materials__pic
					img(src="./img/foto-10.jpg").materials__pic-img
				.materials__desc
					.materials__desc-title
						p Выставка "техника и технологии будущего!" 
					.materials__desc-text
						p Участники – лица, принимающие решения, ведущие технические специалисты, представители, надзорные органы и ведцщие НИИ.Участники – лица, принимающие решения, ведущие технические специалисты, представители, надзорные органы и ведцщие НИИ.<span>г. Челябинск</span>
					include ../_common/_preview-block
		li.materials__item
			a(href="#").materials__link
				.materials__pic
					img(src="./img/foto-10.jpg").materials__pic-img
				.materials__desc
					.materials__desc-title
						p Выставка "техника и технологии будущего!" 
					.materials__desc-text
						p Участники – лица, принимающие решения, ведущие технические специалисты, представители, надзорные органы и ведцщие НИИ.<span>г. Челябинск</span>
					include ../_common/_preview-block
		li.materials__item
			a(href="#").materials__link
				.materials__pic
					img(src="./img/foto-10.jpg").materials__pic-img
				.materials__desc
					.materials__desc-title
						p Выставка "техника и технологии будущего!" 
					.materials__desc-text
						p Участники – лица, принимающие решения, ведущие технические специалисты, представители, надзорные органы и ведцщие НИИ.Участники – лица, принимающие решения, ведущие технические специалисты, представители, надзорные органы и ведцщие НИИ.Участники – лица, принимающие решения, ведущие технические специалисты, представители, надзорные органы и ведцщие НИИ.<span>г. Челябинск</span>
					include ../_common/_preview-block
		li.materials__item
			a(href="#").materials__link
				.materials__pic
					img(src="./img/foto-10.jpg").materials__pic-img
				.materials__desc
					.materials__desc-title
						p Выставка "техника и технологии будущего!" 
					.materials__desc-text
						p Участники – лица, принимающие решения, ведущие технические специалисты, представители, надзорные органы и ведцщие НИИ.<span>г. Челябинск</span>
					include ../_common/_preview-block
	include _pagination