.media
    ul.media__list
        li.media__item
            .media__block
                .media__title
                    | Анонсы ЮУТПП
                .media__content
                    ul.preview__list
                        li.preview__item
                            .preview__img
                                img(src="./img/header/meet-img.png").preview__pic
                            .preview__content
                                a(href="").preview__link
                                    | Выбор делегатов VII Съезда Торгово-промышленной палаты
                                .preview__block
                                    .preview__date
                                        | 30.12.2015
                                    .preview__view
                                        | 12
                        li.preview__item
                            .preview__img
                                img(src="./img/header/meet-img.png").preview__pic
                            .preview__content
                                a(href="").preview__link
                                    | Выбор делегатов VII Съезда Торгово-промышленной палаты
                                .preview__block
                                    .preview__date
                                        | 30.12.2015
                                    .preview__view
                                        | 12
                        li.preview__item
                            .preview__img
                                img(src="./img/header/meet-img.png").preview__pic
                            .preview__content
                                a(href="").preview__link
                                    | Выбор делегатов VII Съезда Торгово-промышленной палаты
                                .preview__block
                                    .preview__date
                                        | 30.12.2015
                                    .preview__view
                                        | 12
                        li.preview__item
                            .preview__img
                                img(src="./img/header/meet-img.png").preview__pic
                            .preview__content
                                a(href="").preview__link
                                    | Выбор делегатов VII Съезда Торгово-промышленной палаты
                                .preview__block
                                    .preview__date
                                        | 30.12.2015
                                    .preview__view
                                        | 12
                        li.preview__item
                            .preview__img
                                img(src="./img/header/meet-img.png").preview__pic
                            .preview__content
                                a(href="").preview__link
                                    | Выбор делегатов VII Съезда Торгово-промышленной палаты
                                .preview__block
                                    .preview__date
                                        | 30.12.2015
                                    .preview__view
                                        | 12
                    .media__btn
                        a(href="#").media__link
                            | Все анонсы
        li.media__item
            .media__block
                .media__title
                    | Новости ЮУТПП
                .media__content
                    ul.preview__list
                        li.preview__item
                            .preview__img
                                img(src="./img/header/meet-img.png").preview__pic
                            .preview__content
                                a(href="").preview__link
                                    | Выбор делегатов VII Съезда Торгово-промышленной палаты
                                .preview__block
                                    .preview__date
                                        | 30.12.2015
                                    .preview__view
                                        | 12
                        li.preview__item
                            .preview__img
                                img(src="./img/header/meet-img.png").preview__pic
                            .preview__content
                                a(href="").preview__link
                                    | Выбор делегатов VII Съезда Торгово-промышленной палаты
                                .preview__block
                                    .preview__date
                                        | 30.12.2015
                                    .preview__view
                                        | 12
                        li.preview__item
                            .preview__img
                                img(src="./img/header/meet-img.png").preview__pic
                            .preview__content
                                a(href="").preview__link
                                    | Выбор делегатов VII Съезда Торгово-промышленной палаты
                                .preview__block
                                    .preview__date
                                        | 30.12.2015
                                    .preview__view
                                        | 12
                        li.preview__item
                            .preview__img
                                img(src="./img/header/meet-img.png").preview__pic
                            .preview__content
                                a(href="").preview__link
                                    | Выбор делегатов VII Съезда Торгово-промышленной палаты
                                .preview__block
                                    .preview__date
                                        | 30.12.2015
                                    .preview__view
                                        | 12
                        li.preview__item
                            .preview__img
                                img(src="./img/header/meet-img.png").preview__pic
                            .preview__content
                                a(href="").preview__link
                                    | Выбор делегатов VII Съезда Торгово-промышленной палаты
                                .preview__block
                                    .preview__date
                                        | 30.12.2015
                                    .preview__view
                                        | 12
                    .media__btn
                        a(href="#").media__link
                            | Все новости
        li.media__item.media__item--blue
            .media__block
                .media__title.media__title--blue
                    | ЮУТПП в СМИ
                .media__content
                    ul.video__list
                        li.video__item
                            .video
                                .video__pic
                                    img(src="./img/media.jpg").video__pic-img
                            a(href="#").video__link
                                | Выбор делегатов VII Съезда Торгово-промышленной палаты
                        li.video__item
                            .video
                                .video__pic
                                    img(src="./img/media.jpg").video__pic-img
                            a(href="#").video__link
                                | Выбор делегатов VII Съезда Торгово-промышленной палаты

                    .media__btn
                        a(href="#").media__link
                            | Все новости