.meet
	.meet-tabs
		ul.meet-tabs__list
			li.meet-tabs__item
				a.meet-tabs__link.meet-tabs__link--active
					| Деловые встречи
			li.meet-tabs__item
				a(href="#").meet-tabs__link
					| Деловое образование
			li.meet-tabs__item
				a(href="#").meet-tabs__link
					| Выставки и ярмарки
	.meet-block
		ul.meet__list
			li.meet__item
				.meet__pic
					img(src="./img/foto-9.jpg").meet__pic-img
				.meet__content
					a(href="").meet__link
						| Выбор делегатов VII Съезда Торгово-промышленной палаты
					.meet__desc
						| Крепким связующим звеном между бизнесом и власти выступает Южно-Уральская торгово-промышленная палата, которая в настоящее время
					.meet__block
						.meet__date
							| 30.12.2015
						.meet__view
							| 12
			li.meet__item
				.meet__pic
					img(src="./img/foto-10.jpg").meet__pic-img
				.meet__content
					a(href="").meet__link
						| Выбор делегатов VII Съезда Торгово-промышленной палаты
					.meet__desc
						| Крепким связующим звеном между бизнесом и власти выступает Южно-Уральская торгово-промышленная палата, которая в настоящее время
					.meet__block
						.meet__date
							| 30.12.2015
						.meet__view
							| 12
			li.meet__item
				.meet__pic
					img(src="./img/foto-10.jpg").meet__pic-img
				.meet__content
					a(href="").meet__link
						| Выбор делегатов VII Съезда Торгово-промышленной палаты
					.meet__desc
						| Крепким связующим звеном между бизнесом и власти выступает Южно-Уральская торгово-промышленная палата, которая в настоящее время
					.meet__block
						.meet__date
							| 30.12.2015
						.meet__view
							| 12
			li.meet__item
				.meet__pic
					img(src="./img/foto-9.jpg").meet__pic-img
				.meet__content
					a(href="").meet__link
						| Выбор делегатов VII Съезда Торгово-промышленной палаты
					.meet__desc
						| Крепким связующим звеном между бизнесом и власти выступает Южно-Уральская торгово-промышленная палата, которая в настоящее время
					.meet__block
						.meet__date
							| 30.12.2015
						.meet__view
							| 12

