.members
	.members__title.title
		| Действительные члены УЮТПП /
	form.members-form
		ul.members-alphabetical__list
			li.members-alphabet__item
				input(value="А" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Б" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="В" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Г" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Д" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Е" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Ж" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="З" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="И" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Й" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="К" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Л" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="М" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Н" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="О" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="П" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Р" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="С" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Т" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="У" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Ф" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Х" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Ц" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Ч" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Ш" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Щ" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Э" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Ю" type="submit").members-alphabet__input
			li.members-alphabet__item
				input(value="Я" type="submit").members-alphabet__input
		.members-advanced
			.members-advanced__title
				| Расширенный поиск членов ЮУТПП
			.members-advanced__block
				.members-advanced__col.members-advanced__col--first
					<label for="name" class="members__label">Наименование</label>
					<input id="name" type="text" class="members__input" placeholder="">
					<label for="inn" class="members__label">ИНН</label>
					<input id="inn" type="text" class="members__input" placeholder="">
				.members-advanced__col.members-advanced__col--second
					<label for="locality" class="members__label">Населенный пункт</label>
					<input id="locality" type="text" class="members__input" placeholder="">
					select.members-select
						option
							| Выбрать вид(ы) деятельности
				.members-advanced__col.members-advanced__col--third
					.feedback__btns.members__btns
						input(value="Искать" type="submit").form__btn.members__btn
		.members-found
			.members-found__title
				.members-found__title-text 
					| Найдено записей:
				span.members-found__title-value
					| 52
			ul.members-found__list
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
				li.members-found__item
					a(href="#").members-found__link
						| 1С-Рарус Челябинск
	include _pagination