.popup.members-popup
    .popup__title
        | Выберите интересующую деятельность
    form(type="submite").members-popup__form
        ul.popup__list
            li.popup__item
                a(href="#").popup-trigger
                span.popup__text 15 Производство сои
                ul.sub-popup__list
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство специй
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство растительных и животных масел и жиров
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство молочных продуктов
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство продуктов мукомольно-крупяной промышленности, крахмалов и крахмалопродуктов
            li.popup__item
                a(href="#").popup-trigger
                span.popup__text 16 Производство металлов
                ul.sub-popup__list
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство специй
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство растительных и животных масел и жиров
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство молочных продуктов
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство продуктов мукомольно-крупяной промышленности, крахмалов и крахмалопродуктов
            li.popup__item
                a(href="#").popup-trigger
                span.popup__text 17 Производство древесины
                ul.sub-popup__list
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство специй
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство растительных и животных масел и жиров
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство молочных продуктов
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство продуктов мукомольно-крупяной промышленности, крахмалов и крахмалопродуктов
            li.popup__item
                a(href="#").popup-trigger
                span.popup__text 18 Производство полимеров
                ul.sub-popup__list
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство специй
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство растительных и животных масел и жиров
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство молочных продуктов
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство продуктов мукомольно-крупяной промышленности, крахмалов и крахмалопродуктов
            li.popup__item
                a(href="#").popup-trigger
                span.popup__text 19 Производство резины
                ul.sub-popup__list
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство специй
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство растительных и животных масел и жиров
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство молочных продуктов
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство продуктов мукомольно-крупяной промышленности, крахмалов и крахмалопродуктов
            li.popup__item
                a(href="#").popup-trigger
                span.popup__text 20 Производство стали и сплавов
                ul.sub-popup__list
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство специй
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство растительных и животных масел и жиров
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство молочных продуктов
                    li.sub-popup__item
                        label.checkbox.popup-checkbox
                            input(type="checkbox").checkbox__input
                            .checkbox__fake.members-checkbox__fake
                        span.sub-popup__text 15.1 Производство продуктов мукомольно-крупяной промышленности, крахмалов и крахмалопродуктов
        .popup__btns
            input(value="Очистить выбранное" type="submit").popup__btn
            input(value="Отправить в форму поиска " type="submit").popup__btn.popup__btn--red
.popup-overlay