.news
	.news__left
		ul.news__list
			li.news__item
				.news__block
					.news__title.title
						| Коммерческие предложения
					.news__content
						a(href="#").news__link
							| Выбор делегатов VII Съезда Торгово-промышленной палаты
						.news__desc
							p
								| Крепким связующим звеном между бизнесом и власти выступает Южно-Уральская
					include _preview-block
			li.news__item
				.news__block
					.news__title.title
						| Новости комитетов
					.news__content
						a(href="#").news__link
							| Выбор делегатов VII Съезда Торгово-промышленной палаты
						.news__desc
							p
								| Крепким связующим звеном между бизнесом и власти выступает Южно-Уральская
					include _preview-block
	.news__right
		a(href="#").news__title-link.news__title-link--all
			| Все новости членов палаты
		ul.news__list.news__list--all
			li.news__item.news__item--all
				.news__block.news__block--all
					.news__content.news__content--all
						a(href="#").news__link
							| Выбор делегатов VII Съезда Торгово-промышленной палаты
						.news__desc
							p
								| Крепким связующим звеном между бизнесом и власти выступает Южно-Уральская
					.preview__block.preview__block--all
						.preview__date
							| 30.12.2015
						.preview__view
							| 12
			li.news__item.news__item--all
				.news__block.news__block--all
					.news__content.news__content--all
						a(href="#").news__link
							| Выбор делегатов VII Съезда Торгово-промышленной палаты
						.news__desc
							p
								| Крепким связующим звеном между бизнесом и власти выступает Южно-Уральская
					.preview__block.preview__block--all
						.preview__date
							| 30.12.2015
						.preview__view
							| 12
		a(href="#").news__title-link.news__title-link--all
			| Инвестиционные предложения
		ul.news__list.news__list--all
			li.news__item.news__item--all
				.news__block.news__block--all
					.news__content.news__content--all
						a(href="#").news__link
							| Выбор делегатов VII Съезда Торгово-промышленной палаты
						.news__desc
							p
								| Крепким связующим звеном между бизнесом и власти выступает Южно-Уральская
					.preview__block.preview__block--all
						.preview__date
							| 30.12.2015
						.preview__view
							| 12
			li.news__item.news__item--all
				.news__block.news__block--all
					.news__content.news__content--all
						a(href="#").news__link
							| Выбор делегатов VII Съезда Торгово-промышленной палаты
						.news__desc
							p
								| Крепким связующим звеном между бизнесом и власти выступает Южно-Уральская
					.preview__block.preview__block--all
						.preview__date
							| 30.12.2015
						.preview__view
							| 12


