.print
	.print__title.title
		| Издания ТПП
	ul.print__list
		li.print__item
			.print__img
				img(src="./img/print/book-1.png").print__pic
			a(href="#").print__link
				| Выбор делегатов VII Съезда Торгово -промышленной палаты
		li.print__item
			.print__img
				img(src="./img/print/book-2.png").print__pic
			a(href="#").print__link
				| Выбор делегатов VII Съезда Торгово -промышленной палаты  
	.print__btns
		a(href="#").print__btn
			| Все издания
