.projects
	.projects__title.title
		| Специальные проекты
	.projects__top
		.projects__left
			.project__img.project__img--half
				img(src="./img/projects/banner-1.png").projects__pic
		.projects__right
			.project__img.project__img--half
				img(src="./img/projects/banner-2.png").projects__pic
	.projects__bottom
		.project__img
			img(src="./img/projects/banner-3.png").projects__pic