form.form-search-btn
	input(value="Сортировка по релевантности" type="submit").search-btn__input.search-btn__input--grey
	input(value="Сортировка по дате" type="submit").search-btn__input.search-btn__input--blue