.search-main
	.search-main__title
		| Поиск по сайту
	form.search-main__form
		input(name="" type="text" placeholder="Искать").search-main__form-input
		input(name="" type="submit" value="Искать").search-main__form-submit
.found
	.foun__result
		span.foun__result-text
			| Найдено:
		span.foun__result-number
			| 126 страниц
	ul.found__list
		li.found__item
		li.found__item