form.form-search-btn
	.search-btn__wrapp
		input(value="Сортировка по релевантности" type="submit").search-btn__input.search-btn__input--grey
	.search-btn__wrapp.search-btn__wrapp--current
		input(value="Сортировка по дате" type="submit").search-btn__input.search-btn__input--blue
ul.search__list
	li.search__item
		a(href="#").search__link
			| Выставка "техника и технологии будущего!" 
		.search__desc
			p Участники – лица, принимающие решения, ведущие технические специалисты, представители власти, надзорные органы и ведущие НИИ...
	li.search__item
		a(href="#").search__link
			| Выставка "техника и технологии будущего!" 
		.search__desc
			p Участники – лица, принимающие решения, ведущие технические специалисты, представители власти, надзорные органы и ведущие НИИ...
	li.search__item
		a(href="#").search__link
			| Выставка "техника и технологии будущего!" 
		.search__desc
			p Участники – лица, принимающие решения, ведущие технические специалисты, представители власти, надзорные органы и ведущие НИИ...
	li.search__item
		a(href="#").search__link
			| Выставка "техника и технологии будущего!" 
		.search__desc
			p Участники – лица, принимающие решения, ведущие технические специалисты, представители власти, надзорные органы и ведущие НИИ...
	li.search__item
		a(href="#").search__link
			| Выставка "техника и технологии будущего!" 
		.search__desc
			p Участники – лица, принимающие решения, ведущие технические специалисты, представители власти, надзорные органы и ведущие НИИ...
	li.search__item
		a(href="#").search__link
			| Выставка "техника и технологии будущего!" 
		.search__desc
			p Участники – лица, принимающие решения, ведущие технические специалисты, представители власти, надзорные органы и ведущие НИИ...
	li.search__item
		a(href="#").search__link
			| Выставка "техника и технологии будущего!" 
		.search__desc
			p Участники – лица, принимающие решения, ведущие технические специалисты, представители власти, надзорные органы и ведущие НИИ...
	li.search__item
		a(href="#").search__link
			| Выставка "техника и технологии будущего!" 
		.search__desc
			p Участники – лица, принимающие решения, ведущие технические специалисты, представители власти, надзорные органы и ведущие НИИ...
include _pagination
