nav.nav
    ul.nav__list
        li.nav__item
            a(href="#").nav__link
                | Наши услуги
        li.nav__item
            a(href="#").nav__link
                | Деловая информация
        li.nav__item
            a(href="#").nav__link
                | Инвестиции
        li.nav__item
            a(href="#").nav__link.nav__link--active
                | В помощь предпринимателю
            ul.nav-dropdown__list
                li.nav-dropdown__item
                    a(href="#").nav-dropdown__link
                        | Виды поддержки МСП
                    ul.nav-dropdown-2__list
                        li.nav-dropdown-2__item
                            a(href="#").nav-dropdown-2__link
                                | Федеральная
                        li.nav-dropdown-2__item
                            a(href="#").nav-dropdown-2__link
                                | Областная
                        li.nav-dropdown-2__item
                            a(href="#").nav-dropdown-2__link
                                | Муниципальная
                        li.nav-dropdown-2__item
                            a(href="#").nav-dropdown-2__link
                                | Помощь в получении субсидии
                li.nav-dropdown__item
                    a(href="#").nav-dropdown__link
                        | Экспортерам
                li.nav-dropdown__item
                    a(href="#").nav-dropdown__link
                        | Полезные ссылки
                li.nav-dropdown__item
                    a(href="#").nav-dropdown__link
                        | Помощь в получении субсидий    
        li.nav__item
            a(href="#").nav__link
                | Действительные члены палаты
        li.nav__item
            a(href="#").nav__link
                | Комитеты ЮУТПП
        li.nav__item
            a(href="#").nav__link
                | Специальные проекты
        li.nav__item
            a(href="#").nav__link
                | О палате
        li.nav__item
            a(href="#").nav__link
                | О регионе
        li.nav__item
            a(href="#").nav__link
                | Контакты, реквезиты
        li.nav__item
            a(href="#").nav__link
                | Наши проекты