.socials.socials--sidebar
    ul.socials__list
        li.socials__item
            a(href="#").socials__link.socials__link--vk
                | 
        li.socials__item
            a(href="#").socials__link.socials__link--fb
                | 
        li.socials__item
            a(href="#").socials__link.socials__link--tw
                | 