.survey
	.survey__title.title
		| Опрос
	form.survey__form
		.survey__form-title
			| Собстенное унитарное государство случайно?
		label.checkbox.survey__checkbox
			input(type="checkbox").checkbox__input
			.checkbox__fake--survey.checkbox__fake--radio
			span.checkbox__text--survey Да
		label.checkbox.survey__checkbox
			input(type="checkbox").checkbox__input
			.checkbox__fake--survey.checkbox__fake--radio
			span.checkbox__text--survey Нет
		label.checkbox.survey__checkbox
			input(type="checkbox").checkbox__input
			.checkbox__fake--survey.checkbox__fake--radio
			span.checkbox__text--survey Возможна
		.survey__desc
			| Карл Маркс исходил из того, что механизм власти определяет
		button(type="submit").survey__btn
			| Ответить


