.survey
	.survey__title.title
		| Опрос
	form.survey__form
		.survey__form-title
			| Собстенное унитарное государство случайно?
		label.survey-checkbox
			input(type="radio").survey-checkbox__input.survey-checkbox__input--checked
			.survey-checkbox__fake
			span.survey-checkbox__text
				| Да
		label.survey-checkbox
			input(type="radio").survey-checkbox__input
			.survey-checkbox__fake
			span.survey-checkbox__text
				| Нет
		label.survey-checkbox
			input(type="radio").survey-checkbox__input
			.survey-checkbox__fake
			span.survey-checkbox__text
				| Возможно
		.survey__desc
			| Карл Маркс исходил из того, что механизм власти определяет
		button(type="submit").survey__btn
			| Ответить


