ul.ward__list
    li.ward__item
        .ward__block
            .ward__title.ward__title--grey
                p
                    | Взаимодействие бизнеса и власти
            .ward__img
                img(src="/img/header/meet-img.png").ward__pic
            .ward__content.ward__content--grey
                ul.ward-services__list
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Советы и комитеты
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Третейский суд
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Противодействие коррупции
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Отчеты о работе
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Планы работы
                a(href="#").ward__link
                    | Подробнее



    li.ward__item
        .ward__block
            .ward__title.ward__title--red
                p
                    | Услуги Палаты
            .ward__img
                img(src="/img/header/meet-img.png").ward__pic
            .ward__content.ward__content--red
                ul.ward-services__list
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Экспертиза
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Деловое образование
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Конференц-услуги
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Юридические услуги
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Информационная поддержка предприятий
                a(href="#").ward__link
                    | Подробнее
                

    li.ward__item
        .ward__block
            .ward__title.ward__title--blue
                p
                    | Членство в ЮУТПП
            .ward__img
                img(src="/img/header/meet-img.png").ward__pic
            .ward__content.ward__content--blue
                ul.ward-services__list
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Члены ТПП
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Преимущества
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Порядок вступления в ТПП
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Горячая линия для представителей МСП
                    li.ward-services__item
                        a(href="#").ward-services__link
                            | Выставочный проект "Галерея брендов"
                a(href="#").ward__link
                    | Подробнее